.shop {
	padding: 56px 20px;
	min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: #fdd947;
}

.item {
    background: #fff;
    border-radius: 0.7rem;
    display: block;
    width: 15rem;
    height: 15rem;
    text-align: center;
    margin: 3rem;
    justify-content: center;
}

.itembox {
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto ;
    width: 7rem;
    height: 7rem;   
    color: #fff; 
}

.paybutton {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #476bfd;
    color: #fff;
    border: none;
    margin: 1rem
}
